<!-- static pages home page  -->

<div id="all-content">
	
	<div id="left-sidebar">
		Home/Search <hr>
		Messages <hr>
		My Profile <hr>
		Maybes? <hr>
		Nopes! <hr>
		Who I starred <hr>
		Who starred me
	</div>
	
	<div id="central-content">
	
		I'm the central content on the home page!
	</div>
	
	<div id="right-sidebar">
		I'm in the right sidebar!
		
		<div id="yellow-box">
			I'm in the yellow box
		</div>
		
		<div id="red-box">
			I'm in the red box
		</div>
		
	</div>
	
</div>
