<!-- static pages home page  -->

<div id="site-header">
	<div id="logo-home-link">
		<a href="/"><span 
								 style="color:#EBC805">Yellow</span><span 
								 style="color:red">red</span><span 
								 style="color:#068A19"><span 
								 style="font-size:14pt"><sub>&hearts;</sub></span>me</span></a>
	</div>

	<div id="current-user-thumbnail-utility">
			Welcome, <%= current_user.email.split('@')[0] %>!
			<%= button_to "Log Out", session_url, :method => :delete, :class => "button" %>
	</div>
</div>

<div id="all-content">
	
	<div id="left-sidebar" class="round-corners">
		<a href="/">Home/Search</a> <hr>
		<a href="/profile">My Profile</a> <hr>
		<a href="/messages">Messages</a> <hr>
		<a href="/my-maybe-list">Maybes?</a> <hr>
		<a href="/my-nope-list">Nopes!</a> <hr>
		<a href="/who-i-starred">Who I starred</a> <hr>
		<a href="/who-starred-me">Who starred me</a>
	</div>
	
	<div id="central-content" class="round-corners">
		<div id="search-box" class="round-corners">
			I'm where the search form will be!
		</div>
		
		<div id="search-results" class="round-corners">
			I'm where the search results would be!
		</div>
	</div>
	
	<div id="right-sidebar">
		<div id="spacer-div">
		</div>
		
		<div id="yellow-box" class="round-corners">
			I'm in the yellow box
		</div>
		
		<div id="red-box" class="round-corners">
			I'm in the red box
		</div>
	</div>
	
</div>
