<!-- this is the login/sign up joint page, with site-purpose blurb -->

<!-- login form -->

<div id="all-content">
	<div id="left-sidebar">

		<form action="<%= session_url %>" method="post" accept-charset="utf-8">
			<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

			<label for="user_username">Email</label>
			<input type="text" name="user[email]" value="<%= @user.email %>" id="user_username">

			<label for="user_password">Password</label>
			<input type="password" name="user[password]" id="user_password">

			<p><input type="submit" value="Log In"></p>
		</form>
	
	</div>

	<div id="central-content">
	
	Keep track of who you're interested in... 

	...set and forget who you're not. 

	yellowred... get to green. 

	</div>
</div>