
<div id="site-header">
	<div id="logo-home-link">
		<a href="/">YellowRed<sub>&hearts;</sub>me</a>
	</div>
</div>

<div id="all-content">
	<div id="lobby-sidebar">
		
		<div class="errors-marquee">
			la la errors, space for more errors
			<% unless flash[:errors].nil?%>
				<% flash[:errors].each do |error_message| %>
					<%= error_message %>
				<% end %>
			<% end%>
		</div>
		
		<form action="<%= session_url %>" method="post" accept-charset="utf-8">
			<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

			<label for="user_username">Email</label>
			<br>
			<input type="text" name="user[email]" value="<%= @user.email %>" id="user_username">
			<br>
			<label for="user_password">Password</label>
			<br>
			<input type="password" name="user[password]" id="user_password">

			<p><input type="submit" value="Log In"></p>
		</form>
	
	</div>

	<div id="lobby-blurb">
	
	Keep track of who you're <span style="color:#EBC805">interested in...</span> 
	<br><br>
	...set and forget who you're <span style="color:red">not</span>. 
<br><br>
	...get to <span style="color:#068A19"><strong> <sub>&hearts;</sub> green</strong></span>. 

	</div>
</div>