
<div id="lobby-header">
	<div id="lobby-logo">
		<a href="/"><span 
								 style="color:#EBC805">Yellow</span><span 
								 style="color:red">red</span><span 
								 style="color:#068A19"><span 
								 style="font-size:14pt"><sub>&hearts;</sub></span>me</span></a>
	</div>
</div>

<div id="all-content">
	<div id="lobby-sidebar">
		
		<div class="errors-marquee">
			la la errors, space for more errors
			<% unless flash[:errors].nil?%>
				<% flash[:errors].each do |error_message| %>
					<%= error_message %>
				<% end %>
			<% end%>
		</div>
		
		<form action="<%= session_url %>" method="post" accept-charset="utf-8">
			<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

			<label for="user_username">Email</label>
			<br>
			<input type="text" name="user[email]" value="<%= @user.email %>" id="user_username">
			<br>
			<label for="user_password">Password</label>
			<br>
			<input type="password" name="user[password]" id="user_password">

			<p><input type="submit" value="Log In"></p>
		</form>
	
	</div>

	<div id="lobby-blurb">
	
	Keep track of who you're <span style="color:#EBC805">interested in...</span> 
	<br><br>
	...set and forget who you're <span style="color:red">not</span>. 
<br><br>
	...get to <span style="color:#068A19"><strong> <span 
								 style="color:#068A19"><span 
								 style="font-size:14pt"><sub>&hearts;</sub></span>green</strong></span>. 

	</div>
</div>