<div class="message-card round-corners shadow">
	From: <%= message.escape('sender_id') %><br>
	<a href="/messages/<%= message.escape('id') %>"><strong><%= message.escape('title') %></strong></a><br>
	<%= message.escape('body') %> 
</div>