<div id="<%= 'message' + message.get('id') %>"
     class="message-card round-corners shadow" 
     data-id="<%= message.get('id') %>">
       
     message <%= message.get('id') %>
     
     <%= listData %>
</div>