
<label for="message_recipient_id">To: <%= $("h3").html() %></label>
<input type="hidden"
       name="message[recipient_id]" 
       value="<%= profileId %>"
       id="message_recipient_id">
<br>


