<form id="new-message-form">
  
  <label for="message_recipient_id">To:</label>
  <input type="text" name="message[recipient_id]" value="" id="message_recipient_id">
  <br>
  <textarea name="message[body]" rows="8" cols="40">I'm a message form!</textarea>
  <br>
  <input type="submit" value="Send">
</form>