<form id="new-message-form">
  <span id="username-errors" style='color:red;font-size:12pt'></span>
  <br>
  <textarea name="message[body]" rows="8" cols="69"></textarea>
  <br>
  <input type="submit" value="Send" class="button new-message-button" 
                                    id="submit-new-message"
                                    style="float:right;padding-left:35px;padding-right:35px">
</form>
