
<label for="message_recipient">To: Christina Austin</label>
<input type="hidden"
       name="message[recipient]" 
       value="clausti"
       id="message_recipient">
<br><br>

<label for="message_from">From:</label>
<input type="text"
      name="message[from]" 
      id="message_from">
<br>


