
<label for="message_recipient">To: <%= $("#profile-username").html() %></label>
<input type="hidden"
       name="message[recipient]" 
       value="<%= $('#profile-username').html() %>"
       id="message_recipient">
<br>