<div id="lobby-blurb" class="round-corners shadow">
	Keep track of who you're <span id="interested-in" >interested</span> in... 
	<br><br>
		<div style="text-indent:18%">
			set and forget who you're <span id="red-not">not</span>.
		</div>
  	<br><br>
	  <div style="float:right">
			Get to <span style="color:#068A19"><span 
								 	 style="font-size:14pt"><strong><sub> &hearts;</sub></span>green</strong></span>.
    </div>

</div>