// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#all-content {
	display: inline-block;
}

#left-sidebar {
	font-size: 14pt;
	padding: 20px;
	float: left;
	width: 200px;
	border-style: solid;
	border-color: blue;
}

#central-content {
	font-size: 16pt;
	float:left;
	width: 600px;
	border-style: solid;
	border-color: black;
}

#right-sidebar {
	float: left;
	width: 200px;
	border-style: solid;
	border-color: green;
}

#yellow-box {
	font-size: 14pt;
	float: left;
	width: 195px;
	border-style: solid;
	border-color: yellow;
}

#red-box {
	font-size: 14pt;
	float: left;
	width: 195px;
	border-style: solid;
	border-color: red;
}