// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#all-content div {
	display: inline-block;
}

#left-sidebar {
	font-size: 12pt;
	padding: 10px;
	margin: 5px;
	float: left;
	width: auto;
	height: 350px;
	border-style: solid;
	border-color: blue;
	background-color: #8AD3EB;
}

#central-content {
	margin: 5px;
	padding: 5px;
	font-size: 14pt;
	float:left;
	width: 600px;
	border-style: solid;
	border-color: black;
}

#search-box {
	float:left;
	width: 595px;
	height: 200px;
	margin-bottom: 5px;
	border-style: solid;
	border-color: blue;
}

#search-results {
	float:left;
	width: 595px;
	height: 370px;
	border-style: solid;
	border-color: orange;
}

#right-sidebar {
	margin: 5px;
	float: left;
	width: 200px;
}

#spacer-div {
	float: left;
	width: 195px;
	height: 250px;
}

#yellow-box {
	font-size: 14pt;
	float: left;
	width: 195px;
	height: 250px;
	margin-bottom: 10px;
	border-style: solid;
	border-color: yellow;
}

#red-box {
	font-size: 14pt;
	float: left;
	width: 195px;
	height: 100px;
	margin-top: 10px;
	margin-bottom: 10px;
	border-style: solid;
	border-color: red;
}