*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
	background-color: #c3e0fa;
	color: #362121;
	font-family: Verdana;
}

h3 {
	display: inline-block;
  float: left;
	font-family: Verdana;
	font-weight: normal;
	font-size: 20pt	;
	margin: 5px;
	color: #9F18C7;
	text-shadow: 1px 1px 2px #0c078f;
}

#site-header {
	display: inline-block;
	min-width: 1010px;
}

#logo-home-link {
	text-shadow: 1px 1px 1px #0c078f;
	float: left;
	min-width: 815px;
	font-size: 26pt;
	font-family: "Times New Roman";
	text-indent: 10px
}

#current-user-thumbnail-utility {
	color: #2E2E2E;
	text-align: right;
	padding: 2px;
	float: left;
	min-width: 200px;
	border-style: solid;
	border-color: #119921;
	border-width: 1px;
	background-color: #A6E1F5
}

#current-user-thumbnail-utility:hover {
	background-color: #F5BAA6;
	border-color: red;
}
#current-user-thumbnail-utility:active {
	position: relative;
	top: 2px;
};

#all-content {
  position: relative;
}

.round-corners {
	-webkit-border-top-left-radius: 6px;
	-moz-border-radius-topleft: 6px;
	border-top-left-radius: 6px;
	-webkit-border-top-right-radius: 6px;
	-moz-border-radius-topright: 6px;
	border-top-right-radius: 6px;
	-webkit-border-bottom-right-radius: 6px;
	-moz-border-radius-bottomright: 6px;
	border-bottom-right-radius: 6px;
	-webkit-border-bottom-left-radius: 6px;
	-moz-border-radius-bottomleft: 6px;
	border-bottom-left-radius: 6px;
}

.shadow {
	-moz-box-shadow: -1px 1px 3px -1px blue;
	-webkit-box-shadow: 0px 1px 3px 0px blue;
	box-shadow: 0px 1px 3px 0px blue;
}

.button {
	-moz-box-shadow: -1px 1px 3px -1px blue;
	-webkit-box-shadow: 0px 1px 3px 0px blue;
	box-shadow: 0px 1px 3px 0px blue;
	background-color:#7d797d;
	-webkit-border-top-left-radius: 4px;
	-moz-border-radius-topleft: 4px;
	border-top-left-radius: 4px;
	-webkit-border-top-right-radius: 4px;
	-moz-border-radius-topright: 4px;
	border-top-right-radius: 4px;
	-webkit-border-bottom-right-radius: 4px;
	-moz-border-radius-bottomright: 4px;
	border-bottom-right-radius: 4px;
	-webkit-border-bottom-left-radius: 4px;
	-moz-border-radius-bottomleft: 4px;
	border-bottom-left-radius: 4px;
	text-indent: 0;
	border: 1px solid #777777;
	display:inline-block;
	color: #ebc805;
	font-family: Verdana;
	font-size: 10pt;
	font-style: normal;
	height: auto;
	width: auto;
	text-decoration: none;
	text-align: center;
	text-shadow: 0px 0px 20px #0c078f;
}.button:hover {
	background-color: #dfdfdf;
	color: #AA15D6;
}.button:active {
	position: relative;
	top: 1px;
}