// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.profile-card {
	width: 305px;
	float: left;
	text-align: right;
	padding: 5px;
	margin: 5px;
	border-style: solid;
	border-color: orange;
	border-width: 1px;
	background-color: #FFC766;
	
	a {
		color: #2e2c2e;
	}
	a:hover {
		color: #AA15D6;
		text-shadow: 0px 0px 1px #0c078f;
	}
}
.profile-card:hover {
	background-color: #669EFF;
	border-color: #AA15D6;
}

.message-card {
	display: block;
	min-width: 620px;
	float: left;
	text-align: left;
	padding: 5px;
	margin: 5px;
	border-style: solid;
	border-color: #FAA42D;
	border-width: 1px;
	background-color: #FFFDD6;
	
	a {
		color: #2e2c2e;
	}
	a:hover {
		color: #AA15D6;
		text-shadow: 0px 0px 1px #D6D8FF;
	}
}
.message-card:hover {
	background-color: #BABEFF;
	border-color: purple;
}