

.profile-card {
	width: 305px;
	float: left;
	text-align: right;
	padding: 5px;
	margin: 5px;
	border-style: solid;
	border-color: orange;
	border-width: 1px;
	background-color: #FFC766;
}

.profile-card:hover {
	background-color: #669EFF;
	border-color: #AA15D6;
}
.profile-card:active {
	position: relative;
	top: 2px;
}

.message-card {
	display: block;
	min-width: 620px;
	float: left;
	text-align: left;
	padding: 5px;
	margin: 5px;
	border-style: solid;
	border-color: #FAA42D;
	border-width: 1px;
	background-color: #FFFDD6;
	
	a {
		color: #2e2c2e;
	}
	a:hover {
		color: #AA15D6;
		text-shadow: 0px 0px 1px #D6D8FF;
	}
}
.message-card:hover {
	background-color: #EBF4FC;
	border-color: purple;
}
