// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.profile-card {
	width: 305px;
	float: left;
	text-align: right;
	padding: 5px;
	margin: 5px;
	border-style:solid;
	border-color:orange;
	border-width: 1px;
	background-color: #FFC766;
}

.profile-card:hover {
	background-color: #669EFF;
	border-color: #AA15D6;
}