

#lobby-sidebar {
	font-size: 12pt;
	padding: 10px;
	margin: 5px;
	float: left;
	width: 200px;
	min-height: 193px;
	border-style: solid;
	border-color: #003CFF;
	border-width: 1px;
	background-color: #8AD3EB;
}

#errors-marquee {
	font-size: 12pt;
	float: left;
	width: 98%;
	color: red;
}

#lobby-blurb {
	font-size: 18pt;
	color: #2e2c2e;
	padding: 20px;
	margin: 5px;
	float:left;
	width: 600px;
	
	background-color: #DCEDFC;
	border-style: solid;
	border-width: 1px;
	border-color: #4d4b4d;
}

#interested-in {
	color: #EBC805;
	text-shadow: 0px 0px 2px #0c078f
}

#red-not {
	color: red;
	text-shadow: -1px -1px 1px #0c078f
}