// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#heart-you {
	color:white;
	font-size:26pt;
	float:right
}

#profile-edit-form {
	font-size: 14pt;
	padding-top: 5px;
	padding-bottom: 5px;
}

#username-and-seeking {	
	float:left;
	width: 98%;
	border-style: solid;
	border-color: orange;
	padding-left: 5px;
	padding-right: 5px;
}

.profile-checkbox-group {
	float:left;
	padding-left: 10px;
	padding-right: 10px;
}

#about-me {
	float:left;
	width: 55%;
	border-style: solid;
	border-color: orange;
	padding-left: 5px;
}

#my-stats {
	float:left;
	width: 39%;
	border-style: solid;
	border-color: orange;
	padding-left: 5px;
	padding-right: 5px;
}