// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#heart-you {
	color:white;
	font-size:26pt;
	float:right
}

#profile-edit-form {
	font-size: 14pt;
}

#username-and-seeking {
	width: 98%;
	border-style: solid;
	border-color: orange;
}

.profile-radio-input {
	padding-left: 10px;
	padding-right: 10px;
}

#about-me {
	width: 68%;
	border-style: solid;
	border-color: orange;
}

#my-stats {
	width: 29%;
	border-style: solid;
	border-color: orange;
}