<div style="padding:5px">
	<button class="maybe button" data-id="<%= profile.escape('id')%>">Maybe</button>
	<button class="nope button" data-id="<%= profile.escape('id')%>">Nope!</button>
	<button class="star button" data-id="<%= profile.escape('id')%>">Star</button>
</div>
<br>