<div style="padding-top:8px;padding-right:3px;float:right">
  <%= JST['profiles/mns_buttons']({ profile: profile }) %>
</div>

<div style="padding-top:6px;float:right">
  <a href='#/new-message' id='new-message' 
                          class='button new-message-button'
                          data-id="<%= profile.escape('id')%>">New Message</a>
</div>