<div style="padding:5px">
	<button class="maybe button" data-id="<%= profile.escape('id')%>">Maybe</button>
	<button class="nope button" data-id="<%= profile.escape('id')%>">Nope!</button>
	<button class="star button" data-id="<%= profile.escape('id')%>">Star</button>
  <a href='#/new-message' id='new-message' 
          class='button new-message-button'
          data-id="<%= profile.escape('id')%>">New Message</a>
</div>
<br>