<div class="profile-card round-corners shadow">
	<a href="#/<%= profile.escape('username') %>"><strong><%= profile.escape('username') %></strong></a><br>
	<%= profile.escape('gender') || 'gender not specified' %>
</div>