<div class="profile-card round-corners shadow" data-username="<%= profile.escape('username')%>" >
	<strong><%= profile.escape('username') %></strong><br>
	<%= profile.escape('gender') || 'gender not specified' %>
</div>