<!-- profile show/detail template -->

<p>
	Username: <%= profile.escape('username')%><br>
	Gender: <%= profile.escape('Gender')%><br>
	Height: <%= profile.escape('username')%><br>
	About Me: <%= profile.escape('about_me')%><br>
</p>