<!-- profile show/detail template -->
<div id="profile-detail" class="round-corners shadow">
  
  <div class="profile-detail-data">
  	<strong>Gender:</strong> <%= profile.escape('gender')%><br>
  	<strong>Height:</strong> <%= profile.escape('height_string')%><br>
    
    <br>
  	<strong>About Me: </strong>
    <br>
    <%= profile.escape('about_me')%><br>
  </div>
    
  <div class="profile-photo">
    <img src="<%= profile.escape('photo_url') %>" style="align:right">
  </div>

</div>