<div class="mini-profile-card" data-username="<%= profile.escape('username')%>" > 
  <div class="profile-thumb-photo">
    <img src="<%= profile.escape('photo_thumb_url') %>">
    <%= profile.escape('username')%>
  </div>
</div>