<!-- New User View -->

<h2>Sign Up</h2>

<form action="<%= users_url %>" method="post" accept-charset="utf-8">
	<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

	<label for="user_username">Email</label>
	<input type="text" name="user[email]" value="<%= @user.username %>" id="user_username">

	<label for="user_password">Password</label>
	<input type="password" name="user[password]" id="user_password">

	<p><input type="submit" value="Sign Up"></p>
</form>